@import "compass/css3"; // compass css3 helpers

@import "font-awesome/variables";
@import "font-awesome/mixins";

@import "variables";
@import "mixins";

body {
	@include loader(gallery-state-loading);
}

.gallery-photostream {
	* {
		max-width: 100%;
		@include box-sizing(border-box);
	}
}

.gallery-album-cover,
.gallery-media-cover {
	position: relative;
	padding: 5px;
	margin: 10px auto;
	@include photo;
	width: 100%;
	a {
		text-align: center;
		overflow: hidden;
		img {
			width: 100%;
			height: auto;
		}
	}
}

.gallery-full {
	.gallery-album-cover {
		padding: 0;
		margin: 0;
		width: 100%;
		min-height: 250px;
		margin-bottom: 20px;
		overflow: hidden;
		.gallery-album-meta {
			margin: 20px;
		}
	}
}

.gallery-album-cover-placeholder {
	background: #f4f4f4;
	text-align: center;
	position: relative;
	&:before {
		@include icon;
		content: $fa-var-picture-o;
		position: absolute;
		right: 0;
		left: 0;
		top: 50%;
		margin-top: -50px;
		font-size: 100px;
		line-height: 100px;
		color: #e8e8e8;
		@include text-shadow(1px 1px 0 #FFF);
	}
}

.gallery-media-author {
	position: absolute;
	top: -15px;
	width: 40px;
	height: 40px;
	right: 5px;
	border: 1px solid #fff;
	img  {
		width: 40px;
		height: 40px;
	}
}

.gallery-album-meta {
	position: relative;
	.gallery-album-count {
		position: absolute;
		top: -20px;
		right: 55px;
		background: #000;
		color: #fff;
		font-weight: bold;
		border: 1px solid #fff;
		min-width: 40px;
		text-align: center;
		line-height: 40px;
		@include box-sizing(content-box);
	}
	.gallery-album-author {
		position: absolute;
		top: -20px;
		right: 10px;
		border: 1px solid #fff;
		padding: 0px;
		background: #000;
		height: 40px;
		width: 40px;
		@include box-sizing(content-box);
	}
}

.gallery-album-title {
	padding: 8px 0px 5px 10px;
	font-weight: bold;
	font-size: 14px;
	max-width: 225px;
	display: inline-block;
}

.gallery-album-info-link {
	display: inline-block;
	margin: 5px;
}
.gallery-media-summary {
	padding: 3px;
	border: 1px solid $border-color;
	margin: 10px;
}
.gallery-media-title {
	padding: 8px 0 5px 10px;
	font-weight: bold;
	font-size: 14px;
	display: inline-block;
	max-width: 185px;
}
.gallery-media-meta {
	position: relative;
}
.gallery-media-info-link {
	display: inline-block;
	margin: 5px;
}
.gallery-media-album {
	position: absolute;
	top: -15px;
	border: 1px solid #fff;
	right: 50px;
}

.gallery-media-meta-details > li {
	display: block;
	padding: 3px 0 3px 10px;
}

.gallery-media-extras {
	.elgg-menu-entity {
		float: none;
		margin: 0;
		padding: 2px;
		height: auto;
		text-align: center;
		background: #f4f4f4;
		border-top: 1px solid $border-color;
		& > li {
			margin: 1px;
			padding: 5px 10px;
			background: #f4f4f4;
			display: inline-block;
			vertical-align: middle;
			line-height: 22px;
			a {
				height: 22px;
				display: block;
			}
			&.elgg-menu-item-access,
			a span {
				display: none;
			}
			&:hover {
				background: #f1f1f1;
			}
		}
	}
}

.elgg-subtext .gallery-media-meta-details > li {
	margin: 0;
	display: inline-block;
	padding: 5px 15px 0 0;
	vertical-align: middle;
}

.gallery-media-full {
	border: 1px solid $border-color;
	position:relative;
	.gallery-media-meta-details {
		margin: 15px 0;
	}
}
.gallery-media-full-view {
	margin: 0 auto;
	position: relative;
	line-height: 550px;
	text-align: center;
	img {
		vertical-align: middle;
	}
}

[class*="gallery-icon-"] {
	background: none;
	@include icon;
	color: $primary-color;
	width: 22px;
	height: 22px;
	font-size: 22px;
	line-height: 22px;
	text-align: center;
	vertical-align: middle;
}
[class*="gallery-icon-"].icon-small {
	background: none;
	@include icon;
	color: $primary-color;
	width: 16px;
	height: 16px;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	vertical-align: middle;
}
[class*="gallery-icon-"] + span {
	margin-left: 5px;
	display: inline-block;
	vertical-align: middle;
	line-height: 26px;
}
[class*="gallery-icon-"].icon-small + span {
	line-height: 16px;
}
.gallery-icon-tag:before {
	content: $fa-var-tags;
}
.gallery-icon-friend:before {
	content: $fa-var-user;
}
.gallery-icon-download:before {
	content: $fa-var-cloud-download;
}
.gallery-icon-makeavatar:before {
	content: $fa-var-square;
}
.gallery-icon-edit:before {
	content: $fa-var-pencil;
}
.gallery-icon-delete:before {
	content: $fa-var-times-circle;
}
.gallery-icon-approve:before {
	content: $fa-var-check-square-o;
}
.gallery-icon-upload:before {
	content: $fa-var-cloud-upload;
}
.gallery-icon-manage:before {
	content: $fa-var-cog;
}
.gallery-icon-cropper:before {
	content: $fa-var-crop;
}
.gallery-icon-drag:before {
	content: $fa-var-arrows;
}
.gallery-icon-makecover:before {
	content: $fa-var-camera-retro;
}
.gallery-icon-info:before {
	content: $fa-var-info-circle;
}
.gallery-icon-slideshow:before {
	content: $fa-var-arrows-alt;
}
.gallery-icon-albums:before {
	content: $fa-var-th-large;
}
.gallery-icon-photostream:before {
	content: $fa-var-table;
}

.elgg-state-loading [class*="gallery-icon-"],
[class*="gallery-icon-"].elgg-state-loading	{
	&:before {
		content: $fa-var-spinner;
		@include icon;
		@include icon-spin;
	}
}

.elgg-form-edit-object-hjalbum label,
.elgg-form-gallery-upload label {
	display:block;
	margin:10px 0 5px 0;
}

.elgg-form-edit-object-hjalbum .gallery-filedrop-buttonbank input {
	display:none;
}

.elgg-form-edit-object-hjalbum .elgg-foot,
.elgg-form-gallery-upload .elgg-foot,
.elgg-form-gallery-manage .elgg-foot {
	margin:10px;
	padding:10px;
	border-top:1px solid $border-color;
}

.gallery-hidden-details-toggle.elgg-state-active {
	display:none;
}

#gallery-hidden-details {
	margin-bottom:20px;
}

.gallery-item-in-bulk {
	border: 1px solid #fff;
	margin-top: 3px;
	padding: 5px 10px;
	background: #eee;
	line-height: 14px;
	.elgg-dropzone & * {
		text-align: left;
		font-size: 12px;

	}
	.gallery-media-extras {
		margin-top: 5px;
		padding-top: 5px;
		border-top: 1px solid #fff;
	}
}

.gallery-manage-album .gallery-media-cover > .gallery-media-menu {
	position: absolute;
	right: 0;
	top: 0;
	text-align: right;
	display: none;
	margin: 5px;
}
.gallery-manage-album .gallery-media-cover > .gallery-media-menu.elgg-menu-entity-drag {
	right: auto;
	left: 0;
	top: 0;
}
.elgg-menu-item-drag a {
	cursor: move;
}
.gallery-manage-album .gallery-media-cover > .gallery-media-menu li.elgg-menu-item-position {
	width: 30px;
}
.gallery-manage-album .gallery-media-cover > .gallery-media-menu li.elgg-menu-item-position input {
	margin: 0;
	padding: 2px;
	border-radius: 0;
	text-align: center;
}
.gallery-manage-album .gallery-media-cover:hover > .gallery-media-menu {
	display: block;
}

.gallery-manage-album .gallery-media-cover > .gallery-media-menu li {
	padding: 4px;
	margin: 4px;
	background: #eee;
	border: 1px solid #fff;
	display: inline-block;
	vertical-align: top;
	float: none;
}
.gallery-manage-album .gallery-media-cover > .gallery-media-menu li:hover {
	background: #fff;
}
.gallery-manage-album .gallery-media-cover > .gallery-media-menu li a span {
	display: none;
}
.gallery-manage-album .gallery-media-cover > .gallery-media-menu li.elgg-menu-item-access {
	display: none;
}
.gallery-manage-album .gallery-media-cover > .gallery-media-menu li.hidden {
	display: none;
}


/* SLIDESHOW */

.gallery-album-cover, .gallery-media-cover{
	.gallery-popup {
		position: absolute;
		top: 10px;
		right: 10px;
		padding: 2px;
	}
}

.ui-dialog.gallery-slideshow {
	@include modal;
	.ui-dialog-titlebar {
		background: #eee;
		color: #444;
		padding: 15px 20px;
		.titlebar-close, .titlebar-close *, .ui-icon-closethick:after {
			color: #444;
			height: 45px;
			line-height: 45px;
			font-size: 20px;
			outline: none;
		}
		button {
			outline: none;
		}
	}
	.ui-dialog-content {
		padding: 0;
	}
	.master-pane {
		position: relative;
		height: 100%;
		width: 100%;
		overflow: hidden;
	}
	.preview-pane {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 0;
		background: #eee;
		border-top: 5px solid #fff;
		width: 100%;
		overflow: hidden;
		height: 140px;
		&:hover,
		&:active {
			transition: 0.5s ease-in;
			-webkit-transition: 0.5s ease-in;
		}
		ul {
			position:relative;
			white-space:nowrap;
			padding: 3px 0;

			transition: margin-left 0.5s linear;
			-webkit-transition: margin-left 0.5s linear;

			li {
				@include photo;
				display: inline-block;
				margin: 4px;
				vertical-align: middle;
				width: 106px;
				height: 120px;
				overflow: hidden;
				text-align: center;

				position: relative;
				border: 1px solid transparent;
				background: #fff;
				&:first-child {
					margin-left: 8px;
				}
				&:last-child {
					margin-right: 15px;
				}
				img {
					@include loader;
					position: absolute;
					left: 0;
					right: 0;
					top: 3px;
					bottom: 0;
					margin: 0 auto;
					cursor: pointer;
				}
			}
		}
	}

}

.ui-dialog.gallery-slideshow {
	.master-view {
		position: absolute;
		top: 0;
		bottom: 140px;
		width: 100%;
		height: auto;
		right: 0;
		left: 0;
		overflow: hidden;
		img {
			@include loader;
			position: absolute;
			top:0;
			bottom:0;
			left:0;
			right:0;
			height: 100%;
			width: auto;
			min-width: 100px;
			margin:0 auto;
		}
		.meta-title {
			position: absolute;
			padding: 5px 5px 5px 25px;
			top: 20px;
			left: 20px;
			font-weight: bold;
			color: #fff;
			background: #444;
			line-height: 20px;
			cursor: pointer;
			transition: left 1s;
			-webkit-transition: left 1s;
			&.elgg-state-active {
				left:10%;
				right:10%;
			}
			&:before {
				@include icon;
				content: $fa-var-info;
				line-height: 20px;
				vertical-align: middle;
				height: 20px;
				width: 20px;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;
				margin-left: -10px;
			}
		}
	}
}

.gallery-slideshow .meta-description {
	position: absolute;
	padding: 20px;
	top: 50px;
	left: 10%;
	right: 10%;
	width: 80%;
	height: 80%;
	font-weight: bold;
	color: #fff;
	border: 2px solid #444;
	background: #f4f4f4;
	heigth: auto;
	max-height: 500px;
	overflow: auto;
	display: none;
	overflow-x: hidden;
	overflow-y: auto;
	transition: display 3s ease-in;
	-webkit-transition: display 1s ease-in;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.gallery-slideshow .controls {
	color: #444;
	display: none;
	.prev {
		@include icon;
		&:before {
			content: $fa-var-arrow-left;
			line-height: 28px;
		}
		position: absolute;
		background: #FFF;
		@include border-radius(1000px);
		background: #eee;
		border: 1px solid #fff;
		z-index: 400;
		left: 20px;
		top: 50%;
		height: 28px;
		width: 28px;
		display: block;
		margin-top: -60px;
		font-size: 28px;
		line-height: 28px;
		text-align: center;
		cursor: pointer;
		padding: 10px;
		@include box-sizing(content-box);
		&.hidden {
			display: none;
		}
		&:hover {
			color: #fff;
		}
	}

	.next {
		@include icon;
		&:before {
			content: $fa-var-arrow-right;
			line-height: 28px;
		}
		position: absolute;
		background: #FFF;
		@include border-radius(1000px);
		background: #eee;
		border: 1px solid #fff;
		z-index: 400;
		left: auto;
		right: 20px;
		top: 50%;
		height: 28px;
		width: 28px;
		display: block;
		margin-top: -60px;
		font-size: 28px;
		line-height: 28px;
		cursor: pointer;
		text-align: center;
		padding: 10px;
		@include box-sizing(content-box);
		&.hidden {
			display: none;
		}
		&:hover {
			color: #fff;
		}
	}

	.pager {
		position: absolute;
		z-index: 400;
		display: block;
		background: #444;
		color: #fff;
		font-weight: bold;
		padding: 5px 10px;

		margin: 0 auto;
		right: 20px;
		top: 20px;
		line-height: 20px;
	}

}
.gallery-slideshow .master-pane:hover .controls {
	display: inline-block;
}

/* CROPPER */
.elgg-form-gallery-thumb {
	position: relative;
	background: #fff;
	z-index: 5000;
}

.elgg-form-gallery-thumb .gallery-crop-master-wrapper,
.elgg-form-gallery-thumb .gallery-crop-preview-wrapper {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin:10px;
}
.elgg-form-gallery-thumb .gallery-crop-preview-wrapper {
	max-width:250px;
}
.elgg-form-gallery-thumb .gallery-crop-preview-wrapper .elgg-col {
	width:100px;
	display:inline-block;
	vertical-align:bottom;
	float:none;
	margin-right:10px;
}
.elgg-form-gallery-thumb label {
	display:block;
	margin:10px 0 5px;
	padding:0 0 5px;
	border-bottom:1px solid $border-color;
}
.elgg-form-gallery-thumb #gallery-crop-preview,
.elgg-form-gallery-thumb #gallery-crop-current {
	height: 100px;
	width: 100px;
	overflow: hidden;
		img {
			width: initial;
			height: auto;
			max-width: initial;
		}
}
.elgg-form-gallery-thumb .elgg-foot {
	margin:10px;
	padding:10px;
	border-top:1px solid $border-color;
}

.ui-dialog .elgg-form-gallery-thumb {
	width: 100%;
	margin: 0;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}

.ui-dialog .elgg-form-gallery-thumb fieldset {
	text-align: center;
}

.tagger-float {
	position:absolute;
	display:none;
	margin-top: -25px;
	margin-left: -25px;
	z-index: 5000;
}
.tagger-circle, .tagger-tag {
	width: 80px;
	height: 80px;
	border: 4px dotted #fff;
	display: block;
	box-shadow: 0 0 30px #000;
	@include border-radius(1000px);
}
.tagger-circle.ui-draggable {
	cursor: move;
}
.tagger-close {
	@include icon;
	&:before {
		content: $fa-var-times;
		text-shadow: 1px 1px 0 #fff;
	}
	display: none;
	vertical-align: middle;
	background-size: 18px;
	height: 20px;
	width: 20px;
	margin-right: 15px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	position: absolute;
	top: -10px;
	right:-40px;
	z-index: 5001;
}

.tagger-float form {
	display:none;
	height: 79px;
	background:#fff;
	background: rgba(255,255,255,0.35);
	position: absolute;
	top: -1px;
	left: 0px;
	border: 4px solid transparent;
	-webkit-border-radius: 71px 5px 5px 71px;
	-moz-border-radius: 71px 5px 5px 71px;
	border-radius: 71px 5px 5px 71px;
	width: 200px;
	padding-left: 90px;

	box-shadow: 3px 1px 10px #666;
}
.tagger-float form input,
.tagger-float form input:focus {
	margin:5px 0 0 7px;
	border: none;
	background:#fff;
	background: rgba(255,255,255,0.6);
	color: #000;
	width: 185px;
	line-height: 26px;
	padding: 3px 10px;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius: 0;

}

.tagger-float form input.ui-autocomplete-loading {
	@include loader(ui-autocomplete-loading);
	background-position: 95% center;
	background-repeat: no-repeat;
}
.tagger-float form input[type="submit"] {
	@include icon;
	&:before {
		content: $fa-var-times;
	}
	background: rgba(255,255,255,0.85) no-repeat 50% 50%;
	background-size: 16px;
	height:30px;
	width:30px;
	margin-right: 15px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius: 22px;
	position: absolute;
	bottom: -13px;
	right: -35px;

	color: transparent;
	font-size: 0;
	border: 2px solid #000;
}

.gallery-autocomplete {
	position: relative;
	margin: 0px 13px 2px -10px;
}
.gallery-autocomplete i {
	position: absolute;
}
.gallery-autocomplete img {
	position: absolute;
	right: 4px;
	top: 9px;
}

.elgg-gallery.gallery-tags-list .gallery-tag {
	display: inline-block;
	margin: 0px 4px 4px 4px;
	background: #f4f4f4;
	padding: 5px 15px;
	position: relative;
}
.gallery-tag i {
	position: absolute;
	top: -5px;
	right: -5px;
}


.gallery-media-tags {
	margin: 5px;
}
.gallery-media-tags label {
	display:block;
	font-size:12px;
	font-weight:normal;
	margin:4px 8px 8px;
}
.elgg-gallery.gallery-tags-list {
	text-align: left;
	display: inline-block;
	vertical-align: top;
}

.gallery-tag a {
	color: #666;
	text-decoration: none;
	font-weight: bold;
	line-height: 25px;
	display: inline-block;
	vertical-align: middle;
}
.gallery-tag a img {
	margin: -8px 10px -8px -8px;
}

.elgg-module.hj-gallery-exif-module {
	margin: 10px;
}
.gallery-media-exif-details {
	margin: 10px 0;
}
.gallery-media-exif-details > li {
	padding: 5px 10px;
	border-bottom: 1px solid $border-color;
}
.gallery-media-exif-details > li:last-child {
	border-bottom: 0;
}
.gallery-media-exif-details > li label {
	width: 30%;
	display: inline-block;
}

.gallery-photostream > li {
	width: 100%;
	margin: 0;
}
@media only screen and (min-width: 40.063em) {
	.gallery-photostream {
		display: block;
		padding: 0;
		margin: 0 -0.625rem;
		*zoom: 1;
	}
	.gallery-photostream:before, .gallery-photostream:after {
		content: " ";
		display: table;
	}
	.gallery-photostream:after {
		clear: both;
	}
	.gallery-photostream > li {
		display: block;
		height: auto;
		float: left;
		padding: 0 0.625rem 1.25rem;
	}
	.gallery-photostream > li {
		width: 50%;
		padding: 0 0.625rem 1.25rem;
		list-style: none;
	}
	.gallery-photostream > li:nth-of-type(n) {
		clear: none;
	}
	.gallery-photostream > li:nth-of-type(2n+1) {
		clear: both;
	}
}

.gallery-tagger-area-preview {
	display: block;
	position: relative;
	overflow: hidden;
	width: 80px;
	height: 80px;
	@include border-radius(1000px);
	border: 2px solid $border-color;
	img {
		width: initial;
		height: auto;
		max-width: initial;
	}
}

.elgg-form-gallery-phototag {
	fieldset {
		padding: 0;
		border: 0;
	}
}