@import "compass/css3"; // compass css3 helpers

$primary-color : #e5001a !default;

.gateway-info {
	margin-bottom: 5px;

	label {
		display: inline-block;
		margin-right: 10px;
	}
}

.elgg-form.gateway-secure-form {
	input[type="text"],
	input[type="password"],
	textarea {
		width: 100%;
	}
	select {
		width: auto;
		max-width: 240px;
	}
	input[type="file"], input[type="checkbox"], input[type="radio"], select, label {
		margin: 0 0 5px 0;
	}
	.row {
		margin: 0 0 15px;
	}
	.columns {
		margin-bottom: 10px;
	}
	input[maxlength], input[size] {
		width: auto;
	}
	[data-stripe="exp-month"],[data-stripe="exp-year"] {
		width: auto;
	}
	.required:after {
		display: inline-block;
		width: 10px;
		margin: -5px 0 0 5px;
		content: "*";
		font-weight: bold;
		color: #ee5f5b;
	}
	.elgg-text-help {
		padding: 4px 8px;
		font-size: 80%;
		& + input, & + select, & + textarea {
			margin: 10px;
		}
	}
	.elgg-foot {
		margin-top: 10px;
		text-align: right;
	}
	.gateway-payment-errors {
		color: red;
		padding: 5px;
	}
	.gateway-vendor-terms {
		background: #f4f4f4;
		font-family: Courier;
		border: 1px solid #e8e8e8;
		padding: 20px;
		height: 300px;
		overflow-y: scroll;
		font-size: 14px;
		margin-bottom: 10px;
	}
	.elgg-col {
		label, .elgg-help-text {
			display: block;
			margin-bottom: 3px;
		}
	}

	.parsley-error {
		border-color: #ee5f5b;
		@include box-shadow(0 0 6px #f8b9b7);
	}
	.parsley-error-list {
		font-size: 12px;
		color: #ee5f5b;
		li {
			margin: 4px 0;
		}
	}

}

.gateway-charge {

	& > .elgg-image {
		width: 125px;
		text-align: center;
		float: none;
		display: inline-block;
		vertical-align: top;
	}

	& > .elgg-body {
		float: none;
		display: inline-block;
		vertical-align: top;
	}

	.gateway-charge-amount {
		margin: 5px;
		font-weight: bold;
		color: darkred;
	}
}

.gateway-action {
	&.elgg-state-loading:before {
		content: "";
		width: 16px;
		height: 16px;
		background-image: url(../mod/hypeGateway/graphics/loader.gif);
		background-repeat: no-repeat;
		background-size: contain;
		display: inline-block;
		margin-right: 8px;
		vertical-align: baseline;
	}
}

ul.gateway-payment-method-actions {
	font-size: 13px;
	list-style: none;
	li {
		margin: 4px;
		text-align: right;
	}
	.gateway-default-label {
		background: $primary-color;
		color: #fff;
		padding: 4px 8px;
		font-weight: bold;
		@include border-radius(4px);
	}
}

$creditcards : (visa, americanexpress, mastercard, dinersclub, discover, jcb);
@each $card in $creditcards {
	.elgg-icon.elgg-icon-gtm-#{$card} {
		background-image: url(../mod/hypeGateway/graphics/payment_methods/credit_card/#{$card}.png);
		background-repeat: no-repeat;
		background-size: contain;
		width: 40px;
		height: 40px * 0.6;
		display: inline-block;
		margin: 0 5px;
		vertical-align: middle;
		&.large {
			width: 73px;
			height: 44px;
		}
	}
}

$countries : (ad,ae,af,ag,ai,al,am,ao,ar,as,at,au,aw,ax,az,ba,bb,bd,be,bf,bg,bh,bi,bj,bl,bm,bn,bo,br,bs,bt,bv,bw,by,bz,ca,cc,cd,cf,cg,ch,ci,ck,cl,cm,cn,co,cr,cu,cv,cx,cy,cz,de,dj,dk,dm,do,dz,ec,ee,eg,eh,er,es,et,fi,fj,fk,fm,fo,fr,ga,gb,gd,ge,gf,gg,gh,gi,gl,gm,gn,gp,gq,gr,gs,gt,gu,gw,gy,hk,hm,hn,hr,ht,hu,id,ie,il,im,in,io,iq,ir,is,it,je,jm,jo,jp,ke,kg,kh,ki,km,kn,kp,kr,kw,ky,kz,la,lb,lc,li,lk,lr,ls,lt,lu,lv,ly,ma,mc,md,me,mf,mg,mh,mk,ml,mm,mn,mo,mp,mq,mr,ms,mt,mu,mv,mw,mx,my,mz,na,nc,ne,nf,ng,ni,nl,no,np,nr,nu,nz,om,pa,pe,pf,pg,ph,pk,pl,pm,pn,pr,ps,pt,pw,py,qa,re,ro,rs,ru,rw,sa,sb,sc,sd,se,sg,sh,si,sj,sk,sl,sm,sn,so,sr,st,sv,sy,sz,tc,td,tf,tg,th,tj,tk,tl,tm,tn,to,tr,tt,tv,tw,tz,ua,ug,um,us,uy,uz,va,vc,ve,vg,vi,vn,vu,wf,ws,ye,yt,za,zm,zw);
@each $country in $countries {
	.elgg-icon.elgg-icon-flag-#{$country} {
		background-image: url(../mod/hypeGateway/graphics/countries/flags/#{$country}.png);
		background-repeat: no-repeat;
		background-size: contain;
		width: 16px;
		height: 11px;
		display: inline-block;
		margin: 0 5px;
		vertical-align: middle;
	}
}
